{% macro modal(id, body, title, footer_buttons=None, log_data=None) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="{{ id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{ id }}Label">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include body %}
            </div>
            <div class="modal-footer">
                {% if footer_buttons %}
                {% for button in footer_buttons %}
                <button type="button" class="btn btn-{{ button.type }}" {% if button.dismiss %} data-bs-dismiss="modal"
                        {% endif %}>
                    {{ button.label }}
                </button>
                {% endfor %}
                {% else %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}
